<%= form_for(chatroom) do |f| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>

      <ul>
      <% chatroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% current_user.friends.each do |friend| %>
    
    <div class="form-group">
      <%= label_tag friend.username %>
      <%= check_box_tag "friend_ids[]", friend.id, false %>
    </div>

  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>

  $(":checkbox").on('change', function() {
    $('input[type="submit"]').prop('disabled', !$(':checkbox:checked').length);
  }).change();
  
</script>