<div id="chatroom-show-container" class="row">
  <div id="chatroom-show-header">
  <p>
    <%= render_name_of(@chatroom) %>
  </p>
  </div>
  
  <div id="chatroom-show-body">
    <% unread_messages = false %>
    <div data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>' id="chatroom-chats">
      <% @messages.each do |message| %>
        <% if !unread_messages && @chatroom_user_relationship.last_read_at < message.created_at %>
          <% unread_messages = true %>
          <div class="strike"><span>Unread Messags</span></div>
        <% end %>

        <%= render message %>
      <% end %>
    </div>


    <%= form_for [@chatroom, Message.new] do |f| %>
      <%= f.text_area :content, rows: 3, autofocus: true %>
    <% end %>
  </div>

</div>

<%= javascript_tag do %>
  window.current_user_id = '<%= j current_user.id.to_s %>'
<% end %>

<script>
  // $("#message_content").resizable({handles: 'n'});
// $("#new_message").resizable({handles: 'n'});
$("#chatroom-chats").scrollTop($("#chatroom-chats")[0].scrollHeight);

</script>