
<div id="adding-contact-container">
	
	<div id="adding-contact-search-section">
		<h5>添加联系人</h5>

		<div>
			<%= search_form_for @q, url: contacts_path do |f| %>
				<div class="input-group">
					<%= f.search_field :username_or_email_cont, :placeholder => "可输入用户名、邮箱进行搜索", class: "form-control" %>
					<span class="input-group-btn">
						<%= f.submit "搜索", class: "btn btn-default" %>
					</span>
				</div>
			<% end %>
		</div>
	</div>


	<div id="search-contact-result-section">
		<% @finded_friends.each do |finded_friend| %>
			<div class="media">
				<div class="media-left media-middle">
					<%= render_user_avatar_of(finded_friend, "45x45", "media-object") %>
				</div>
				<div class="media-body">
					<h6><%= finded_friend.username %></h6>
					<small><%= finded_friend.email %></small>
					<small class="pull-right friendship-status"><%= render_friendship_status_with(finded_friend) %></small>
				</div>
			</div>
		<% end %>
	</div>

</div>