<div class="text-center">
	<h5 id="sidebar-header">微信</h5>
	<small id="sidebar-username"><%= current_user.username if user_signed_in? %></small>
</div>
<ul class="nav nav-stacked" role="tablist">
	<% if user_signed_in? %>
		<li id="chatrooms-side-btn">
			<%= link_to chatrooms_path do %>
				<%= image_when_current_in_chatrooms %>
			<% end %>	
		</li>
		<li id="contacts-side-btn">
			<%= link_to contacts_path do %>
				<%= image_when_current_in_contacts %>
			<% end %>
		</li>
	<% else %>
		<li><%= link_to "登录", new_user_session_path, id:"signin-button" %></li>
		<li><%= link_to "注册", new_user_registration_path, id:"signup-button" %></li>
	<% end %>
</ul>


<%= link_to "登出", destroy_session_path(current_user), method: :delete, id:"logout-button" if user_signed_in? %>