<!DOCTYPE html>
<html>
  <head>
    <title>FakeWeichat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<br><br><br>
	<div class="container weichat-container">
		<div class="col-sm-2" style="border: 1px solid red;">
			<!-- <div class="container"> -->
			<%= render "common/sidebar" %>
			<!-- </div> -->
		</div>

		<div class="col-sm-10">
	    	<%= yield %>
	    </div>
    </div>
  </body>
</html>