<!DOCTYPE html>
<html>
  <head>
    <title>FakeWeichat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container weichat-container">
      <div class="col-sm-1 weichat-sidebar">
        <%= render "common/sidebar" %>
      </div>

		  <div class="col-sm-11" id="user_sign_container">
	    	  <%= yield %>
	    </div>
    </div>
  </body>
</html>