<!DOCTYPE html>
<html>
  <head>
    <title>FakeWeichat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<div class="container weichat-container">
		<div class="col-sm-1 weichat-sidebar">
			<%= render "common/sidebar" %>
		</div>

		<div class="col-sm-4" style="height: 100%;">
			<div id="friend-search-container" class="row text-center" style="height: 10%;">
				<div id="friend-search-head" class="form-inline">
					<%= text_field_tag 'search-friends-field', nil, placeholder: "搜索联系人", url: search_friends_contacts_path, class: ""%>

					<%= link_to "+", contacts_path, class: "btn btn-default btn-xs ", id:"add_new_friend_btn" %>
				</div>
			</div>
			
			<div id="friend-list-container" class="row">
				<%= render partial: "common/friend_list", locals: {friends: current_user.friends} %>
			</div>

		</div>

		<div class="col-sm-7" style="height: 100%;">
	    	<%= yield %>
	    </div>
    </div>
  </body>
</html>